<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
        <a routerLink="{{thisblock.routerLinkV}}">
            <div class="bb-left-agileits-w3layouts-inner grid">
                <figure class="effect-roxy">
                    <img src="{{thisblock.vertical.imgsrc}}" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>{{thisblock.vertical.firstText | firstLetter}}</span>{{thisblock.vertical.firstText.substr(1,thisblock.vertical.firstText.length)}}</h3>
                        <p>{{thisblock.vertical.secondText}}</p>
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
        <a routerLink="{{thisblock.routerLinkH1}}">
            <div class="bb-middle-agileits-w3layouts grid">
                <figure class="effect-roxy">
                    <img src="{{thisblock.horizontal1.imgsrc}}" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>{{thisblock.horizontal1.firstText | firstLetter}}</span>{{thisblock.horizontal1.firstText.substr(1,thisblock.horizontal1.firstText.length)}}</h3>
                        <p>{{thisblock.horizontal1.secondText}}</p>
                    </figcaption>
                </figure>
            </div>
        </a>
        <a routerLink="thisblock.routerLinkH2">
            <div class="bb-middle-agileits-w3layouts forth grid">
                <figure class="effect-roxy">
                    <img src="{{thisblock.horizontal2.imgsrc}}" alt=" " class="img-responsive">
                    <figcaption>
                        <h3><span>{{thisblock.horizontal2.firstText | firstLetter}}</span>{{thisblock.horizontal2.firstText.substr(1,thisblock.horizontal2.firstText.length)}}</h3>
                        <p>{{thisblock.horizontal2.secondText}}</p>
                    </figcaption>
                </figure>
            </div>
        </a>
        <div class="clearfix"></div>
    </div>

