<div class="banner_bottom_agile_info_inner_w3ls">
    <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
        <figure class="effect-roxy">
            <img src={{element.imgsrc}} alt=" " class="img-responsive" />
            <figcaption>
                <h3><span>{{element.firstText | firstLetter}}</span>{{element.firstText.substr(1,element.firstText.length)}}
                </h3>
                <p>{{element.secondText}}</p>
            </figcaption>
        </figure>
    </div>
</div>