<div class="agile_last_double_sectionw3ls">
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a routerLink="{{banner.routerLink1}}"><img src="{{banner.imgsrc1}}" alt=" ">
            <h4>Flat <span>{{banner.offerPercentage1}}%</span> offer</h4>
        </a>

    </div>
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a routerLink="{{banner.routerLink2}}"><img src="{{banner.imgsrc2}}" alt=" ">
            <h4>Flat <span>{{banner.offerPercentage2}}%</span> offer</h4>
        </a>
    </div>
    <div class="clearfix"></div>
</div>